body{
    background-color:beige;

}

img{
    height: 100px;
    width: 110px;
}

h1{
    text-align: center;
    font-size: 45px;
    color:rgb(218, 161, 170);
    background-color:rgb(255, 244, 230);
    border: 4px double rgb(218, 161, 170);
    
}

p{
    font-size: 25px;
    color: rgb(255, 161, 170);
    background-color: rgb(255,244,230);
    text-align: center;
    border: 4px double rgb(218, 161, 170);
    
}

li{

    color:rgb(218, 161, 170);
    background-color:rgb(255,244,230);
}