body{
    background-color:#fff4e6;

}

img{
    height: "100";
    width: "100";
}

h1{
    text-align: center;
    font-size: 45px;
    color:#daa1aa;
    background-color:#fff4e6;
    border: 4px double #daa1aa;
    
}

p{
    font-size: 25px;
    color: #daa1aa;
    background-color: #fff4e6;
    text-align: center;
    border: 4px double #daa1aa;
    
}

li{

    color:#daa1aa;
    background-color:#fff4e6;
}