*{
/* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/41eaebdf-5de5-4e41-9e1f-cbf140f2dcbb/US-en-20230724-popsignuptwoweeks-perspective_alpha_website_large.jpg"); */
    background-color: black;
    opacity: 1.5;
    /* position: relative; */
    font-family: sans-serif;

    
}

#text{
   /* position: absolute; */
    color: white;
    text-align: center;
    margin-top: 220px;
    font-size: 50px;
    font-weight: 700;


}

#text_2{
    margin-top: -10px;
    color: white;
    text-align: center;
    font-size: 25px;
}

#text_3{

    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: 33px;
    
}


.button_SignIn{
    color: white;
    background-color: #E50914;
    font-size: 17px;
    margin-left: 1400px;
    border: 2px solid red;
    border-radius: 5%;
    padding: 6px;
    width: 85px;
    margin-top: -190px;
}


#logo{
    margin-left: 190px;
    margin-top: 16px;
    display: inline-block;
}


.button_GetStarted{
    color: white;
    background-color: #E50914;
    font-size: 27px;
    margin-left: 947px;
    border: 2px solid #E50914;
    border-radius: 5%;
    padding: 14px;
    width: 220px;
}


.form-select{
    color: white;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 7%;
    margin-left: 870px;
}

.form-control{
    color: white;
    font-size: 19px;
    width: 320px;
    height: 50px;
    border-radius: 7%;
    margin-left: 590px;
}